body {
  margin: 0;
  font: 300 1rem/1.4 'Helvetica Neue', sans-serif;
  color: #212122;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}